<div class="center jumbotron">
  <h1>Welcome to the Alpha Blog</h1>
  <p>The most awsomest blog on the mother freaking planet</p>
  <p><%= link_to "Sign up now!", root_path, class: "btn btn-primary btn-lg btn-xlarge" %></p>
</div>
